
@font-face {
  font-family: 'Allerta';
  src: url('/fonts/Allerta/Allerta-Regular.ttf');
}
*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: Averta, sans-serif;  
}
html{
  scroll-behavior: smooth;
}

/* mainColor #00b2bf */